@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* My Code */
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.6em 1.2em;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: lightslategray;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.footer {
  background-color: #eeeeee;
}

.left-links, 
.right-links {
  display: flex;
  gap: 1em;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;
}
