body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  /* my code */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  /* my code */
  font-size: 32px;
  font-weight: 900;
  align-content: center;
  padding-left: 16px;
}

/* Content */
.content {
  display: flex;
  flex: 1
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  flex: 0 0 300px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1em;
}

.sidebar a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.cards {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  padding: 48px;
  gap: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex: 0 0 300px;
  padding: 16px;
}
/* End of content */

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}